repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.291
    hooks:
     - id: ruff
       args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: trailing-whitespace
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
    - id: pretty-format-toml
      args: [--autofix]
# -   repo: https://github.com/pre-commit/mirrors-prettier
#     rev: ''  # Use the sha / tag you want to point at
#     hooks:
#     -   id: prettier