.DS_Store
.env
src/.env
config/.env
config/db.json
config/db1.json
src/config/db.json
src/session.txt
src/config/store/@budfox01:matrix.org_SYTFYXAPQP.blacklisted_devices
src/config/store/@budfox01:matrix.org_SYTFYXAPQP.db
src/config/store/@budfox01:matrix.org_SYTFYXAPQP.trusted_devices
src/config/store/@budfox01:matrix.org_SYTFYXAPQP.ignored_devices
