<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>TalkyTrader</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </meta>

  <body>
	
    <div id="hello-world-app">
      <h1>{{ msg }}</h1>
    </div>

   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      new Vue({
        el: "#hello-world-app",
        data() {
          return {
            msg: "Hello World!"
          }
        }
      });
    </script>
    
</body>
</html>
