{
    "global":
    {
        "1":
        {
            "env": "PRD"
        }
    },
    "telegram":
    {
        "1":
        {
            "token": "",
            "channel": "",
            "platform": "POC"
        },
        "2":
        {
            "token": "",
            "channel": "",
            "platform": ""
        },
        "3":
        {
            "token": "",
            "channel": "",
            "platform": "SIT"
        },
        "4":
        {
            "token": "",
            "channel": "",
            "platform": "PRD"
        }
    },
    "cex":
    {
        "1":
        {
            "name": "kraken",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "2":
        {
            "name": "binance",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "True",
            "defaultType": "FUTURE",
            "ordertype": "MARKET"
        },
        "3":
        {
            "name": "binance",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "4":
        {
            "name": "binancecoinm",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "True",
            "defaultType": "FUTURE",
            "ordertype": "MARKET"
        },
        "5":
        {
            "name": "binanceusdm",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "True",
            "defaultType": "FUTURE",
            "ordertype": "MARKET"
        },
        "6":
        {
            "name": "huobi",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "7":
        {
            "name": "coinbase",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "8":
        {
            "name": "gate",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "9":
        {
            "name": "kucoin",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "10":
        {
            "name": "bybit",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "11":
        {
            "name": "okx",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "12":
        {
            "name": "bitfinex",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "13":
        {
            "name": "poloniex",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        },
        "14":
        {
            "name": "ftx",
            "api": "",
            "secret": "",
            "password": "",
            "testmode": "",
            "defaultType": "SPOT",
            "ordertype": "MARKET"
        }
    },
    "dex":
    {
        "1":
        {
            "name": "pancake",
            "address": "abc",
            "privatekey": "abc",
            "version": "v2",
            "networkprovider": "https://bsc-dataseed.binance.org/",
            "router": "0x10ED43C718714eb63d5aA57B78B54704E256024E",
            "testmode": "False",
            "tokenlist":"https://tokens.pancakeswap.finance/pancakeswap-extended.json",
            "abiurl":"https://api.bscscan.com/api",
            "abiurltoken":"abc",
            "basesymbol":"WBNB"
        },
        "2":
        {
            "name": "pancake",
            "address": "abc",
            "privatekey": "abc",
            "version": "v2",
            "networkprovider": "https://data-seed-prebsc-1-s1.binance.org:8545/",
            "router": "0x10ED43C718714eb63d5aA57B78B54704E256024E",
            "testmode": "True",
            "tokenlist":"https://tokens.pancakeswap.finance/pancakeswap-extended.json",
            "abiurl":"https://api-testnet.bscscan.com/api",
            "abiurltoken":"abc",
            "basesymbol":"WBNB"
        }, 
        "3":
        {
            "name": "uniswap",
            "address": "abc",
            "privatekey": "abc",
            "version": "v2",
            "networkprovider": "",
            "router": "0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D",
            "testmode": "False",
            "tokenlist":"https://gateway.ipfs.io/ipns/tokens.uniswap.org",
            "abiurl":"https://api.etherscan.io/api",
            "abiurltoken":"abc",
            "basesymbol":"USDT"
        },
        "4":
        {
            "name": "uniswap",
            "address": "abc",
            "privatekey": "abc",
            "version": "v3",
            "networkprovider": "",
            "router": "0xE592427A0AEce92De3Edee1F18E0157C05861564",
            "testmode": "True",
            "tokenlist":"https://gateway.ipfs.io/ipns/tokens.uniswap.org",
            "abiurl":"https://api-goerli.etherscan.io/api",
            "abiurltoken":"abc",
            "basesymbol":"USDT"
        },
        "5":
        {
            "name": "quickswap",
            "address": "abc",
            "privatekey": "abc",
            "version": "v2",
            "networkprovider": "",
            "router": "0xa5E0829CaCEd8fFDD4De3c43696c57F7D7A678ff",
            "testmode": "False",
            "tokenlist":"https://api-polygon-tokens.polygon.technology/tokenlists/polygonTokens.tokenlist.json",
            "abiurl":"https://api.polygonscan.com/api",
            "abiurltoken":"abc",
            "basesymbol":"USDT"
        },
        "6":
        {
            "name": "quickswap",
            "address": "abc",
            "privatekey": "abc",
            "version": "v2",
            "networkprovider": "",
            "router": "0xa5E0829CaCEd8fFDD4De3c43696c57F7D7A678ff",
            "testmode": "True",
            "tokenlist":"https://api-polygon-tokens.polygon.technology/tokenlists/testnet.tokenlist.json",
            "abiurl":"https://api-testnet.polygonscan.com/api",
            "abiurltoken":"abc",
            "basesymbol":"USDT"
        }
    }
}
