#variable for cloud platform ease config import
DB_URL='https://raw.githubusercontent.com/mraniki/tt/main/config/sample_db.json'

#variable for bot parameter
TG_TK="yourbottoken12121212121212:1212121221212"
TG_CHANNEL_ID="yourchannel-121221212121221212"