#variable for log level change
#LOGLEVEL=DEBUG

#variable for PaaS cloud platform import. Check https://github.com/ripienaar/free-for-dev#paas
#DB_URL='https://raw.githubusercontent.com/mraniki/tt/main/config/sample_db.json'

#variables for bot parameter (TG/DISCORD only)
#TK="yourbottoken12121212121212:1212121221212"
#CHANNEL_ID="yourchannel-121221212121221212"

#variable for webserver port
#PORT=8080