
TG_TOKEN="yourtoken"
TG_CHANNEL_ID="yourchannel"

#CEX
#PROD APIKEY Exchange1
EXCHANGE1_NAME="binance"
EXCHANGE1_YOUR_API_KEY=""
EXCHANGE1_YOUR_SECRET=""
EXCHANGE1_ORDERTYPE="MARKET" 
EXCHANGE1_DEFAULTTYPE=""