aenum==3.1.15 ; python_version >= "3.10" and python_version < "4.0"
aiodns==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
aiofiles==23.2.1 ; python_version >= "3.10" and python_version < "4.0"
aiohttp-socks==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.8.6 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
apprise==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
asyncio==3.4.3 ; python_version >= "3.10" and python_version < "4.0"
asyncz==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
bidict==0.22.1 ; python_version >= "3.10" and python_version < "4.0"
bitarray==2.8.2 ; python_version >= "3.10" and python_version < "4"
blinker==1.6.3 ; python_version >= "3.10" and python_version < "4.0"
blurhash==1.1.4 ; python_version >= "3.10" and python_version < "4.0"
browser-cookie3==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
ccxt==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
cefi==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==41.0.4 ; python_version >= "3.10" and python_version < "4.0"
curl-cffi==0.5.7 ; python_version >= "3.10" and python_version < "4.0"
cytoolz==0.12.2 ; python_version >= "3.10" and python_version < "4" and implementation_name == "cpython"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
dxsp==5.2.4 ; python_version >= "3.10" and python_version < "4.0"
dynaconf==3.2.3 ; python_version >= "3.10" and python_version < "4.0"
eth-abi==4.2.1 ; python_version >= "3.10" and python_version < "4"
eth-account==0.9.0 ; python_version >= "3.10" and python_version < "4"
eth-hash==0.5.2 ; python_version >= "3.10" and python_version < "4"
eth-hash[pycryptodome]==0.5.2 ; python_version >= "3.10" and python_version < "4"
eth-keyfile==0.6.1 ; python_version >= "3.10" and python_version < "4"
eth-keys==0.4.0 ; python_version >= "3.10" and python_version < "4"
eth-rlp==0.3.0 ; python_version >= "3.10" and python_version < "4"
eth-typing==3.5.0 ; python_version >= "3.10" and python_version < "4"
eth-utils==2.2.1 ; python_version >= "3.10" and python_version < "4"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
fastapi-socketio==0.0.10 ; python_version >= "3.10" and python_version < "4.0"
fastapi==0.95.2 ; python_version >= "3.10" and python_version < "4.0"
findmyorder==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
flask-cors==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
flask==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
frozendict==2.3.8 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.10" and python_version < "4.0"
g4f==0.1.5.4 ; python_version >= "3.10" and python_version < "4.0"
gql==3.4.1 ; python_version >= "3.10" and python_version < "4.0"
graphql-core==3.2.3 ; python_version >= "3.10" and python_version < "4"
guilded-py==1.11.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
h2==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
hexbytes==0.3.1 ; python_version >= "3.10" and python_version < "4"
hpack==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
html5lib==1.1 ; python_version >= "3.10" and python_version < "4.0"
httpcore==0.17.3 ; python_version >= "3.10" and python_version < "4.0"
httptools==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "4.0"
hyperframe==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
iamlistening==4.2.7 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
iso8601==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.10" and (sys_platform == "bsd" or sys_platform == "linux") and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
js2py==0.74 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.19.1 ; python_version >= "3.10" and python_version < "4.0"
kwenta==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
logbook==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
lru-dict==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "4.0"
lz4==4.3.2 ; python_version >= "3.10" and python_version < "4.0"
markdown2==2.4.10 ; python_version >= "3.10" and python_version < "4"
markdown==3.5 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
mastodon-py==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
matrix-nio==0.20.2 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "4.0"
multitasking==0.0.11 ; python_version >= "3.10" and python_version < "4.0"
myllm==3.1.15 ; python_version >= "3.10" and python_version < "4.0"
nicegui==1.3.16 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.9.7 ; python_version >= "3.10" and python_version < "4.0" and (platform_machine != "i386" and platform_machine != "i686")
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
parsimonious==0.9.0 ; python_version >= "3.10" and python_version < "4"
peewee==3.16.3 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
ping3==4.0.4 ; python_version >= "3.10" and python_version < "4.0"
prettytable==3.9.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==4.24.4 ; python_version >= "3.10" and python_version < "4.0"
pscript==0.7.7 ; python_version >= "3.10" and python_version < "4.0"
py-cord==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "4"
pycares==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
pycoingecko==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pycryptodome==3.19.0 ; python_version >= "3.10" and python_version < "4.0"
pycryptodomex==3.19.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.13 ; python_version >= "3.10" and python_version < "4.0"
pyexecjs2==1.6.1 ; python_version >= "3.10" and python_version < "4.0"
pyexecjs==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "4.0"
pyjsparser==2.7.1 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "4.0"
python-cryptography-fernet-wrapper==1.0.4 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
python-engineio==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
python-magic-bin==0.4.14 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
python-magic==0.4.27 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Windows"
python-multipart==0.0.6 ; python_version >= "3.10" and python_version < "4.0"
python-socketio==5.9.0 ; python_version >= "3.10" and python_version < "4.0"
python-socks[asyncio]==2.4.3 ; python_version >= "3.10" and python_version < "4.0"
pythorhead==0.15.6 ; python_version >= "3.10" and python_version < "3.12"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "4.0"
pyunormalize==15.0.0 ; python_version >= "3.10" and python_version < "4.0"
pywin32==306 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.10.3 ; python_version >= "3.10" and python_version < "4"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
revolt-py==0.1.11 ; python_version >= "3.10" and python_version < "4.0"
rlp==3.0.0 ; python_version >= "3.10" and python_version < "4"
rocketchat-api==1.30.0 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.10.4 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "4.0"
simple-websocket==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
simplematrixbotlib==2.10.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
talkytrend==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
telethon==1.30.3 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "4" and (implementation_name == "pypy" or implementation_name == "cpython")
tradingview-ta==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
twitchio==2.8.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0"
tzlocal==4.3.1 ; python_version >= "3.10" and python_version < "4.0"
ulid-py==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
uniswap-python==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
unpaddedbase64==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.6 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn[standard]==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
uvloop==0.17.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4.0"
vbuild==0.8.2 ; python_version >= "3.10" and python_version < "4.0"
watchfiles==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.8 ; python_version >= "3.10" and python_version < "4.0"
web3==6.10.0 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
websockets==11.0.3 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
wsproto==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
yfinance==0.2.31 ; python_version >= "3.10" and python_version < "4.0"
