<!DOCTYPE html>
<html lang="en">
	<head>
 
	    <title>TalkyTrader</title>
	    <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}"/>
		<script src="{{ url_for('static', filename='/js/app.js') }}" type="module"></script>  -->
	</head>
	
  	<body>
		<h1> TalkyTrader one more time </h1>

	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="app"></div>


	</body>
	
</html>