body {
    font-size: 18px;
    color: #dfe1f2;
    background-color: #121212;
  }
  
  div.body {
    max-width: 1000px;
  }
  
  pre {
      background-color: #0d0d0d;
      color: #a9abba;
      box-shadow: none;
      display: block;
      border-color: transparent;
  }
  
  ul, ol {
      font-size: 17x;
  }
